@import url("https://fonts.googleapis.com/css2?family=Baloo+Thambi+2&family=Raleway&family=Rubik&display=swap");
/* Sass Template */
/* Global classes */
@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap");
button,
button:focus {
  outline: none;
  box-shadow: none;
}

/* typography classes */
.font-baloo {
  font-family: "Baloo Thambi 2", cursive;
}

.font-rale {
  font-family: "Raleway", cursive;
}

.font-rubik {
  font-family: "Rubik", cursive;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-20 {
  font-size: 20px;
}

/* Color Template */
.color-primary {
  color: #003859;
}

.color-primary-bg {
  background: #003859;
}

.color-second {
  color: #00a5c4;
}

.color-second-bg {
  background: #00a5c4;
}

.color-yellow {
  color: #ffd289;
}

.color-yellow-bg {
  background: #ffd289;
}

#top-sale .owl-carousel .item .product a {
  overflow: hidden;
}
#top-sale .owl-carousel .item .product img {
  transition: transform 0.5s ease;
}
#top-sale .owl-carousel .item .product img:hover {
  transform: scale(1.1);
}
#top-sale .owl-carousel .owl-nav button {
  position: absolute;
  top: 30%;
  outline: none;
}
#top-sale .owl-carousel .owl-nav button.owl-prev {
  left: 0;
}
#top-sale .owl-carousel .owl-nav button.owl-prev span {
  font-size: 35px;
  color: #003859;
  margin-left: -4rem;
  padding: 0 1rem;
}
#top-sale .owl-carousel .owl-nav button.owl-next {
  right: 0;
}
#top-sale .owl-carousel .owl-nav button.owl-next span {
  font-size: 35px;
  color: #003859;
  margin-right: -4rem;
  padding: 0 1rem;
}

/* Special Price Section Template */
#special-price .grid .grid-item {
  margin-right: 1.2rem;
  margin-top: 1rem;
}

.user-login {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.user-login .image {
  width: 50%;
}
.user-login .image img {
  width: 100%;
}
.user-login__container {
  width: 50%;
}
.user-login__container h3 {
  font-family: "Luckiest Guy", cursive;
  font-size: 3.5rem;
  text-align: center;
  padding-top: 20px;
  color: #00a5c4;
  text-shadow: 0 0.1em 20px black, 0.05em -0.03em 0 black, 0.05em 0.005em 0 black, 0em 0.08em 0 black, 0.05em 0.08em 0 black, 0px -0.03em 0 black, -0.03em -0.03em 0 black, -0.03em 0.08em 0 black, -0.03em 0 0 black;
}
.user-login__container h3 span {
  transform: scale(0.9);
  display: inline-block;
}
.user-login__container h3 span:first-child {
  animation: bop 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
}
.user-login__container h3 span:last-child {
  animation: bopB 1s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards infinite alternate;
}
.user-login__container .form-input {
  width: 70%;
  height: 450px;
  margin: auto;
  border-radius: 50px;
  background: #ffffff;
  box-shadow: 20px 20px 60px #d9d9d9, -20px -20px 60px #ffffff;
}
.user-login__container .form-input form .input {
  width: 80%;
  margin: 20px auto;
  display: flex;
  flex-direction: column;
}
.user-login__container .form-input form .input__box {
  color: #777;
  padding-bottom: 7px;
  margin: 1.5rem;
  margin-top: 0.5rem;
  /* reset input */
}
.user-login__container .form-input form .input__box .form__group {
  position: relative;
  padding: 15px 0 0;
  margin-top: 10px;
  width: 100%;
}
.user-login__container .form-input form .input__box .form__field {
  font-family: inherit;
  width: 100%;
  border: 0;
  border-bottom: 2px solid #9b9b9b;
  outline: 0;
  font-size: 1.3rem;
  padding: 7px 0;
  background: transparent;
  transition: border-color 0.2s;
}
.user-login__container .form-input form .input__box .form__field::placeholder {
  color: transparent;
}
.user-login__container .form-input form .input__box .form__field:placeholder-shown ~ .form__label {
  font-size: 1.3rem;
  cursor: text;
  top: 20px;
}
.user-login__container .form-input form .input__box .form__label {
  position: absolute;
  top: 0;
  display: flex;
  align-items: center;
  transition: 0.2s;
  font-size: 1rem;
  color: #9b9b9b;
}
.user-login__container .form-input form .input__box .form__label .MuiSvgIcon-root {
  margin-right: 0.3rem;
}
.user-login__container .form-input form .input__box .form__field:focus {
  padding-bottom: 0.6rem;
  border-width: 0.3rem;
  border-image: linear-gradient(to right, #003859, #00a5c4);
  border-image-slice: 1;
}
.user-login__container .form-input form .input__box .form__field:focus ~ .form__label {
  position: absolute;
  top: 0;
  transition: 0.2s;
  font-size: 1.2rem;
  color: #003859;
  font-weight: 700;
}
.user-login__container .form-input form .input__box .form__field:required, .user-login__container .form-input form .input__box .form__field:invalid {
  box-shadow: none;
}
.user-login__container .form-input form .input__box:first-child {
  margin-top: 0.5rem;
}
.user-login__container .form-input form .input__box .show-pass {
  position: absolute;
  right: 0;
  top: 50%;
  font-size: 2rem;
  cursor: pointer;
}
.user-login__container .form-input form button {
  font-weight: bold;
  font-size: 2rem;
  color: #fff;
  background: #59b97d;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem;
  margin: 3.5rem 1.5rem 1rem;
}
.user-login__container .form-input .forgot-pass {
  text-align: center;
  font-size: 1.4rem;
}
.user-login__container .form-input .forgot-pass a {
  color: #59b97d;
}

@keyframes bop {
  0% {
    transform: scale(0.9);
  }
  50%, 100% {
    transform: scale(1);
  }
}
@keyframes bopB {
  0% {
    transform: scale(0.9);
  }
  80%, 100% {
    transform: scale(1) rotateZ(-3deg);
  }
}

/*# sourceMappingURL=style.css.map */
